doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Error 404 - Página no encontrada
    link(rel="stylesheet", href="../../css/404.css")
body
   div.error-container
        div.error
            div(class="error-number") 404
            div(class="error-text") Página no encontrada
            button(class="back-btn" onclick="goBack()") Regresar
      
   img(src="../../assets/img/plane.gif", alt="Avion bailando")
