extends ../layout/layout
block header 
   include ../components/headerUser

block content 
   include ../components/table-users
   include ../components/form-request

block link-js 
  script(src="../js/vistaUsuario.js" , type="module")