extends ../layout/layout

block header 
   include ../components/header
block content 

  article.banner 
    img(src="../assets/banner/banner.webp", alt="Banner Aerocivil" id="banner")

  h2 Opciones 
  
  section.options-container 
    article(class="option option-search")
      span  
        i(class="fa-solid fa-magnifying-glass")
      div.glas-div 
        h3 Buscar un archivo: 
        p Aquí podrás buscar la ubicación topográfica de cualquier archivo que este en la base de datos con tan solo ingresar la referencia.
    article(class="option option-base")
      span  
        i(class="fa-solid fa-database")
      div.base-div 
        h3 Actualizar Banner
        p Aquí podrás actualizar el banner de la app
    include ../components/pop-upSearch
  include ../components/formUpdateBanner
block link-js 
  script(src="../js/script.js", type="module")
