extends ../layout/layout
block header 
   include ../components/header
block content 


  include ../components/graficas-solicitudes
  include ../components/table-request


block link-js
  script(type="module", src="../js/graphics.js") 