footer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 3rem;
  color: var(--second-color);
}

.logos-container{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .3rem;
}

footer h3{
  font-size: 1.3rem;
}
.logos-container img{
  width: 100px;
  height:100px;
 margin-right: .5rem;
}
.logos-container p{
font-size: 1.1rem;
padding: 0 1rem 0 0;
margin: 0;
}

footer .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .logos-container .info{
  width: 100%;
}

footer .info:nth-child(2){
margin-right: .3rem;
width: 25%;
}

footer .info:nth-child(3){
  width: 30%;
  }
  
footer .info ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .9rem;
}
footer .info ul li{
  margin-bottom: .3rem;

}
footer a{
  text-decoration: underline;
  font-size: none;
  color: var(--second-color);
}


@media(max-width:900px){
  
  footer h3{
    font-size: 1.1rem;
  }
  .logos-container img{
    width: 90px;
    height:90px;
  }

  .logos-container p{
  font-size: .9rem;
  }

}

@media(max-width:600px){
  footer{
  width: 100%;
  margin-top: 0rem;
 
}
 footer h3{
    font-size: 1.1rem;
}
footer .hidden-responsive{
  display: none;
  visibility: hidden;
}

footer .logos-container{
  width: 100%;
  flex-direction: column;
}
footer .logos-container div{
  width: 100%;
  text-align: center;
}

.logos-container img{
   width: 100px;
   height:100px;
 }

.logos-container p{
  font-size: .9rem;
  padding: 0;
  margin: 0;
  text-align: center;
}
}