/********************* Form-container ***********************/
.general-container-form{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: #000000c2;

}
.form-container{
  position: fixed;
  top: 10vh;
  left: 20%;
  display: flex;
  justify-content: space-between;
  width:60%;
  background-color:var(--primary-color);
  border-radius: 1rem;
  z-index: 999;
}
/********************* IMG-FORM-CONTAINER *******************/
.img-form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  text-align: center;
  background-color: #001d49;
  border-radius: 1rem 0 0 1rem;
  padding: 2rem;
}
.img-form-container img{
  width: 150px;
  height: 150px;
}
.img-form-container h2,.img-form-container p{
  color: var(--second-color);
  font-weight: bold;
  font-size: 1.5rem;  
 }

/************************** FORM *********************************/
.form{
  background-color:var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
  width: 60%;
  color: var(--second-color);
  font-weight: bold;
}

form h2{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-bottom: .5rem;
}
form  label{
  width: 49%;
 } 
 form label.referencia{
  width: 100%;
 }

form input, .select-estado{
  display: block;
  width: 100%;
  padding: .5rem;
  border-radius: .5rem;
  border: 2px solid #8c8888;
  margin:0;
}
form input, .select-referencia{
  display: block;
  width: 100%;
  padding: .5rem;
  border-radius: .5rem;
  border: 2px solid #8c8888;
  margin:0;
}
.input-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: .2rem;
}
/****************************** BUTTONS ************************/
form button{
  width: 48%;
  background-color:var(--second-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  padding: .2rem 4rem;
  margin-top: .5rem;
}
form button:hover{
  background-color:var(--shade);
  color: var(--second-color);
  transition: 1s;
}
form button:last-child{
  background-color: rgb(1, 164, 58);
  color: var(--second-color);
}
form button:last-child:hover{
  background-color: rgb(8, 103, 42);
  color: var(--second-color);
  transition: 1s;
}

.hidden-form{
  display: none;
  visibility: none;
}


@media(max-width:900px){
  .form-container{
    top: 5vh;
    left: 10%;
    width:70%;
  }
}


@media(max-width:700px){
  /********************* Form-container ***********************/
.form-container{
  top: 10vh;
  left:0%;
  width: 100%;
  margin: 0 auto;
}

  .form{
    border-radius: 1rem;
    padding: 1rem;
    width: 95%;
    margin: 0 auto;
  }

  

  .img-form-container{
    display: none;
    visibility: hidden;
  }

  /************************** FORM *********************************/
  form h2{
    font-size: 1.2rem;
  }
  form button{
    font-size: 1rem;
    padding: .2rem 1rem;
    margin-top: .5rem;
  }

}