/**************************** HEADER *********************/
header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:18%;
  border-radius: 15px;
  padding: 1rem;
  color: var(--second-color);
}

header nav ul{
  list-style: none;
  color: var(--second-color);
  margin-top: 2rem;
  padding: 0; 
}
header nav ul li a,header nav ul li{
  font-size: 1.2rem;
  text-decoration: none;
  font-style: none;
  font-weight: bold;
  color: var(--second-color);
  margin-left: .2rem;
  margin-bottom: .2rem;
  cursor: pointer;
}

header nav ul li:hover{
  background-color: var(--shade);
  transform: scale(1.1);
  border-radius: .5rem;
  padding: .2rem;
}

header img{
  width: 160px;
  margin: 0;
  padding: 0;
}

.container-notification i{
  font-size: 1.6rem;
}

.active-notification{
  font-size: 1.6rem;
  color: rgb(234, 57, 54);
}



