.loadFile{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 10, 29, 0.178)
}

.selectFile h2{
  color: #3ba3f8;
  text-align: center;
  font-weight: bold;
}

.selectFile p{
  color: #fff;
}

.selectFile{
  font-weight: 600;
}

.selectFile button{
  padding:  .5rem 1rem;
  background-color: #248ee5;
  color: var(--second-color);
  border: none;
  border-radius: .3rem;
  cursor: pointer;
}

.selectFile button:hover{
  background-color: #0b275f;
}

.buttons-form-banner{
  width: 100%;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
}

.selectFile .closeForm{
  position: absolute;
  padding: .1rem .5rem ;
  top: .5rem;
  right: .5rem;
}
