@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:root{
    --primary-color:#0B60B0;
    --second-color:#FFFFFF;
    --fonts:#000;
    --tr-color:#DBA73A;
}
*{
    font-family: 'Baloo 2', sans-serif;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}


html{
    background-color: var(--primary-color);
    padding: 3rem;
}

body{
   background-color: var(--second-color);
   max-width: 1200px;
   height: auto;
   margin:auto;
   border-radius: 1rem;
}
form h1{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;
    margin: 0px;
}

form h3{
    margin: 0px;
}

.logos{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.logoColombia{
    width: 200px;
    height: 76px;
    aspect-ratio: 200px/76px;
}

.logoColombia img{
    width: 100%;
}

.logoAerocivil{
    height: 76px;
    width: 76px; 
    aspect-ratio: 76px/76px;
}
.logoAerocivil img{
    width: 100%;
}

.container{
    display: flex;
    padding: 1rem;
}

.header{
    background-color: var(--primary-color);
    width: 45%;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.image img{
    width: 100%;
    height: auto;
    margin-top: 3rem;
    aspect-ratio: 482px/490px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    text-align: center;
    align-items: center;
}

.form form{
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
    padding: 1rem;
}
.form form input[type = "text"]{
    width: 100%;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border: 1px solid #bdb8b8;
}

.form form input[type = "password"]{
    width: 100%;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border: 1px solid #bdb8b8;
}

.forgot-password{
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    text-align: end;
}
.form form button{
    background-color: var(--primary-color);
    width: 100%;
    border-radius: .5rem;
    padding: .3rem;
    color: var(--second-color);
    font-size: 1rem;
    font-weight: bold;
    border:none;
}
.copyright p{
    color:var(--primary-color);
    font-weight: 600;
    padding: .1rem;
    margin: 0;
}

.pop-up{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000027;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pop-upContiner{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px var(--primary-color);
    display: flex;
    
  }
  
  .pop-upContiner h3{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1rem .5rem;
    border-bottom: 1px dashed var(--primary-color);
  }
  
  .pop-upContiner p{
    padding: 0 .5rem 0 .5rem;
    text-align: center;
  }
  .pop-upContiner button{
    width: 30%;
    border-radius: .3rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--second-color);
    font-weight: bold;
    padding: .2rem;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .pop-upContiner button:hover{
    background-color: #0d4982;
  }

  .hidden{
    visibility: hidden;
    display: none;
  }

@media (max-width:700px){
    html{
        background-color: var(--primary-color);
        padding: 0rem;
    }
    
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:auto;
    }

    main{
        width: 100%;
        height: 70%;
        justify-content: center ;
        align-items: center;
    }

    form h1{
        margin:1rem 0;
    }
    
    form h3{
        margin:1rem 0;
    }
    
   
    .container{
        width: 100%;
        height: 100%;
    }
    
    .header{
        display: none;
        visibility: hidden;
    }
    
    .form{
        width: 100%;
        padding: 0rem;
    }
    
    .form form{
        height: 100%;
        padding: 0rem;
    
    }

    .form form input[type = "text"]{
        width: 100%;
        margin: 1rem 0;
       
    }
    
    .form form input[type = "password"]{
        margin: 1rem 0;
    }
    
    .forgot-password{
        margin: 1rem 0;
    }

    .form form button{
        margin: 1rem 0;
        padding: 1rem;
    }
    .copyright p{
        margin: 1rem 0;
    }
}