@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:root{
    --primary-color:#0B60B0;
    --second-color:#FFFFFF;
    --black:#000;
    --tr-color:#DBA73A;
    --shade:#03056b85;
}
*{
    font-family: 'Baloo 2', sans-serif;
}
*,
*::after,
*::before{
    box-sizing: border-box;

}
html{
  padding: 2rem;
  background-color: var(--second-color);
}

body{
  max-width: 1600px;
  display: flex;
  background-color: var(--primary-color);
  padding: 2rem 2rem 2rem 0;
  border-radius: 1rem;
}

/*********************** GENERAL CONTAINNER ***************************/
.general-container{
  width: 82%;
  background-color: var(--second-color);
  border-radius: 1rem;
  padding: 1rem;
}
/********************* BANNER *******************/
.config{
  position: relative;
}
.config-container{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding: 0 1rem .5rem 0;
  cursor: pointer;
}
.config-container i{
  font-size: 2rem;
  color: var(--primary-color);
  padding: 0 1rem;
  cursor: pointer;
}
.config-container i:hover{
  color: #268503;
}

main .banner{
  width: 100%;
  max-height: 350px;
}
main .banner img{
  width: 100%;
  max-height: 350px;
  border-radius: 1rem;
  aspect-ratio: 1280px/210px;
}
/***************  config *******************/
.config-options{
  width: 350px;
  background-color: var(--primary-color);
  color: var(--second-color);
  position: absolute;
  right: 0rem;
  top:calc(0 + 3rem);
  border-radius: 1rem;
  box-shadow: 4px 4px 6px #000;
 
}

.config-options .box{
  display: flex;
  width: 100%;
  margin-bottom: .5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  padding: .5rem;
}

.config-options .box:hover{
  background-color: #08296d;
}
.config-options:hover > .box:not(:hover) {
  filter: blur(5px);
}

.config-options .box i{
  font-size: 2rem;
}

.config-options .box i.fa-file-excel {
color: #12bb0a;
}

.config-options .box i.fa-download:hover, .config-options .box i.arrow:hover {
  color: #12bb0a;
  }

/**************** OPTIONS **********************/
.options-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.options-container .option{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%; 
  background-color:var(--primary-color);
  color: var(--second-color);
  border-radius: 1rem;
  padding:2rem;
  cursor: pointer;
}
.options-container .option:hover{
  background-color: #1144a3;
}

.options-container .option  i{
  font-size: 4rem;
  padding: 1rem 1rem 1rem 0;
}


.options-container .option h3{
  font-weight: bold;
}
.hidden{
  visibility: hidden;
  display: none;
}

/***********************  NOTIFICACIONES TOAST  ****************************/

.contenedor-toast{
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  z-index: 1000;
}
.contenedor-toast p{
  margin: 0;
  padding: 0;
  color: #fff;
}

.toast .contenido{
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  gap: .5rem;
  padding: .8rem;
}
.toast .titulo{
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: sans-serif;
}

.toast{
  position: relative;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
  animation-name: apertura;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  overflow: hidden;
}


.toast.exito{
  background-color: #29b509;
}
.toast.error{
  background-color: #d85332;
}
.toast.warning{
  background-color: #f0b954;
}
.toast.info{
  background-color: #0dbed1;
}

.toast .btn-cerrarToast{
  background-color:#0000002b;
  border: none;
  cursor: pointer;
  padding: 0 .4rem;
  color: #fff;
  transition:  .3s  ease-in-out all  ;
  border-radius: 0 .5rem .5rem 0;
}
.toast .btn-cerrarToast:hover{
  background-color:#00000047;
}
.toast  .contenido .icono {
  color: #00000056;
  font-size: 1.5rem;
}

@keyframes apertura {
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
  }

  .toast.cerrando{
    animation-name: cierre;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes cierre {
    from{
      transform: translateX(0);
    
    }
    to{
      transform: translateX(calc(100% + 40px));
    }
    }
  
.toast.autoCierre::after{
  content: "";
  width: 100%;
  height: 4px;
  background-color: #0000003c;
  position: absolute;
  bottom: 0;
  animation-name: autocierre;
  animation-duration: 6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes autocierre {
  from{
    width: 100%;
  }
  to{
    width: 0%;
  }
}




/*************************** MEDIA SCREEN ****************/


@media (max-width:900px) {
  html{
    padding: 0rem;
  }
  
  body{
    padding: .5rem .5rem .5rem 0;
  }

  /**************** OPTIONS **********************/

  .options-container .option{
    padding: .5rem;
  }
  .options-container .option span {
    padding:1rem 1rem 1rem 0;
  }
  .options-container .option span i{
    font-size: 3rem;;
  }
 
}
@media (max-width:600px) {
  html{
    padding: 0rem;
    border-radius: 0;
    background-color: var(--primary-color);
  }
  body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding:0rem ;
    border-radius: .5rem;
  }
  main .banner img{
    height: 120px;
    border-radius: 1rem;
    aspect-ratio: 1280px/210px;
  }
  
  /*********************** GENERAL CONTAINNER ***************************/
  .general-container{
    width: 100%;
    border-radius: .5rem;
    padding: 1rem;
  }
  /**************** OPTIONS **********************/
  .options-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .options-container .option{
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
  }
  
  .options-container .option span {
    padding: 1rem ;
  }
  .options-container .option span i{
    font-size: 2rem;;
  }
}