@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:root{
    --primary-color:#0B60B0;
    --second-color:#FFFFFF;
    --black:#000;
    --tr-color:#DBA73A;
    --shade:#03056b85;
}
*{
    font-family: 'Baloo 2', sans-serif;
}
*,
*::after,
*::before{
    box-sizing: border-box;

}
html{
  padding: 2rem;
  background-color: var(--second-color);
}

body{
  display: flex;
  background-color: var(--primary-color);
  padding: 2rem 2rem 2rem 0;
  border-radius: 1rem;
}

/*********************** GENERAL CONTAINNER ***************************/
.general-container{
  width: 82%;
  background-color: var(--second-color);
  border-radius: 1rem;
  padding: 1rem;
}
/********************* BANNER *******************/
main .banner{
  position: relative;
  width: 100%;
  padding: 1rem;
}
main .banner img{
  width: 100%;
}
/**************** OPTIONS **********************/
.options-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.options-container .option{
  display: flex;
  align-items: center;
  width: 45%;
  background-color:var(--primary-color);
  color: var(--second-color);
  border-radius: 1rem;
  padding: 2rem;
}

.options-container .option:hover{
  background-color: #0b3050;
  cursor: pointer;
}
.options-container .option span {
  padding: 2rem 2rem 2rem 0;
}
.options-container .option span i{
  display: block;
  font-size: 4rem;;
}
.options-container .option h3{
  font-weight: bold;
}

/*********************** PopUp ******************/
.pop-up{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000027;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-upContiner{
  width: 400px;
  height: 250px;
  background-color: #0f1012ad;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.pop-upContiner h3{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 1rem .5rem;
  border-bottom: 1px dashed var(--primary-color);
}

.pop-upContiner p{
  padding: 0 .5rem 0 .5rem;
  text-align: center;
}
.pop-upContiner button{
  width: 30%;
  border-radius: .3rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--second-color);
  font-weight: bold;
  padding: .2rem;
  cursor: pointer;
  align-self: flex-end;
}

.pop-upContiner button:hover{
  background-color: #0d4982;
}

.hidden{
  visibility: hidden;
  display: none;
}
/********************* FOOTER ******************/

/*************************** MEDIA SCREEN ****************/
