.table-container{
  margin-top: 3rem;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px  #6470e4;
  border-radius: 1rem;
  height:50vh;
  overflow: auto;
  margin-bottom: 1rem;
 
}
.BD{
  width: inherit;
  height: auto;
}
.BD .register{
  display:flex;
  justify-content: space-between;
  padding: .5rem;
}
.BD  input{
  display: inline-block;
  width: 90%;
  margin: auto;
  padding: .5rem;
  border: solid 1px #d8d5d5;
  border-radius: .2rem;
  font-size: .8rem;
  font-weight: bold;
  color: var(--primary-color);
}



/************************* Table ***********************/
.table{
  display: table;
  width: 100%;
  height: auto;
  margin: auto;
  padding: .5rem 1rem;
  border-spacing: 0;
  border-radius: .5rem;
}
table{
  border-radius: .5rem;
}
.table thead{
  background-color:var(--primary-color);
  color:var(--second-color) ;
  padding: .5rem .2rem;
}
.table thead th{
  padding: .8rem 0.1rem;
  text-align:left;
  font-weight: bold;
  text-align: center;
}
table thead th:first-child{
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  padding-left: .2rem;
}
.table thead th:last-child{
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.table tbody{
  padding: .3rem 0;
}

.table tbody td{
  padding: .3rem 0.1rem;
  color: #000;
  font-weight: bold;
  background-color: #ffffff60;
  text-align: center;
}
.icon-table img{
  width: 30px;
  height: 25px;
  margin-right: .2rem;
  padding: 0;
}

.options-container{
  display: flex;
  justify-content: space-evenly;
}

 .send-appli{
  background-color: var(--primary-color);
  border: 0;
  padding: .2rem .5rem;
  color: var(--second-color);
  border-radius: .3rem;
  font-weight: bold;
  font-size: 1rem;
}
.send-appli:hover{
  background-color:#072d65;
cursor: pointer;
}

.filter{
   visibility: hidden;
   opacity: 0;
   transition: all .3s ease-in-out;
 }
 .filter2{
    display: none; 
  }