.filterInput{
  width: 100%;
  padding: .5rem 0;
}
.filterInput input{
  width: 100%;
  border-radius: .2rem;
  padding: .5rem;
  border: 0;
  color:var(--primary-color);
  font-weight: bold;
  box-shadow: 2px 2px 5px  var(--primary-color);
}
.filter{
  visibility: hidden; 
  opacity: 0;
  transition: all .3s ease-in-out;
}
.filter2{
  display: none;
}

.table{
  width: 100%;
  height: 40vh;
  margin: auto;
  padding: 1rem 1rem;
  margin-top: 2rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: .7rem;
  box-shadow: 4px 4px 15px #0B60B0;
  overflow-y: scroll;
}

.table thead {
  text-align:center;
  background-color: var(--primary-color);
}
.table thead th{
  background-color: var(--primary-color);
  padding: .2rem;
  border-radius: .2rem;
  color: var(--second-color);
}

.table tbody {
  text-align:center;
}
.table tbody td {
  padding: 0 .2rem;
  font-weight: bold;
}
.table tbody .abierto {
  background-color: #9bd47e;
  color: var(--black);
  font-weight: bold;
  font-size: 14px;
  border-radius: .5rem;
 }
.table tbody .cerrado {
background-color: #5470C6;
 font-weight: bold;
 border-radius: .5rem;
 font-size: 14px;
 color: var(--second-color);
}
.container-btns{
  display: flex;
  justify-content: center;
  align-content: center;
}
.container-btns .btn-abrir{
  width: 100px;
  background-color: #9bd47e;
  border: 0;
  padding: .2rem .5rem;
  color: var(--black);
  border-radius: .5rem;
  cursor: pointer;
  font-weight: bold;
}

.container-btns .btn-abrir:hover{
  background-color: #67bd3c;
}
.container-btns .btn-cerrar{
  width: 100px;
  background-color: #5470C6;
  color:var(--second-color) ;
  border: 0;
  padding: .2rem .5rem;
  border-radius: .5rem;
  cursor: pointer;
  font-weight: bold;
}
.container-btns .btn-cerrar:hover{
  background-color: rgb(18, 58, 215);
}
.container-btns .btn-delete{
  background-color: var(--second-color);
  border: 0;
  cursor: pointer;
  margin-left: 1rem;
}
.container-btns .delete{
    width: 25px;
    height: 25px;
  }

  @media(max-width:700px){
    .table{
      width: 100%;
      margin-bottom: 1rem;
  }
}