link(rel="stylesheet", href="../css/footer.css")

footer 
  div.logos-container
    img(src="../assets/img/SGDEA.svg", alt="Logo Colombia")  
    div
      h3 Gestión documental 
      p Desarrollado por grupo de Análisis y desarrollo de software
      p correo.com 
    
  div(class="info hidden-responsive")
    h3 Información 
    ul 
      li Av. El dorado 103-15
      li Edificio central Aerocivil 
      li Bogotá D.C Colombia 

  div(class="info hidden-responsive")
    h3 Atención al ciudadano
    ul
      li Telefono: 6012963336 
      li
         a(href="mailto:archivogeneral@aerocivil.gov.co") archivogeneral@aerocivil.gov.co
      li HORARIO DE ATENCIÓN: Lunes a viernes 8:00am a 4:30pm 
