link(rel="stylesheet", href="../css/header.css")
header.menu-resposive 
  div 
    h2 Aeronaútica civil 
    nav
      ul 
        li.active
          i(class="fa-solid fa-house") 
          a(href="/index") Inicio
        li 
          i(class="fa-solid fa-database") 
          a(href="/expedientes") Base de datos
        li.logout 
          i(class="fa-solid fa-right-from-bracket logout") 
          a(href="#" class='logout') Cerrar Sesión
  
  img(src="../assets/img/logoColombiaPotencia.svg" , alt="Logo colombia potencia de vida")
