doctype html
link(rel="stylesheet", href="../css/403.css")
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="../assets/img/Logo SGDEA Azul.png", type="image/x-icon")
    title No Autorizado
  body 
    div.container
       div.error-code 403
       h1 No Autorizado
       p Lo sentimos, no tienes permiso para acceder a esta página.
       a(href="/" class="back-link") Volver al inicio
    