extends ../layout/layout

block header 
   include ../components/header
block content 
  include ../components/graficas-solicitudes
  include ../components/table-base
  include ../components/form-base
 

block link-js 
  script(src="../js/base.js" , type="module")