extends ../layout/layout
block header 
   include ../components/headerUser
block content 

  article.banner 
    img(src="../assets/banner/banner.webp", alt="Banner Aerocivil")

  h2 Opciones 
  
  section.options-container
    article(class="option search")
      span.search  
        i(class="fa-solid fa-magnifying-glass search")
      div.search 
        h3 Buscar un archivo: 
        p.search Aquí podrás buscar la ubicación topográfica de cualquier archivo que este en la base de datos con tan solo ingresar el numero de referencia u otro dato relacionado.
    article(class="option bug")
      span.bug 
        i(class="fa-solid fa-bug bug")
      div.bug
        h3 Reportar un problema
        p.bug Aquí podras repostar cualquier problema o inconveniente que experimentes al utilizar la plataforma.


block link-js 
  script(src="../js/userIndex.js", type="module")
