doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Iniciar Sesión
    link(rel="stylesheet", href="../css/login.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
    link(rel="shortcut icon", href="../assets/img/Logo SGDEA Azul.png", type="image/x-icon")
  body 
    main
       section.container
          article.header
             div.logos
                 div.logoColombia
                   img(src="../assets/img/logoColombiaPotencia.svg" alt="Logo colombia potencia de vida")
         
                 div.logoAerocivil
                   img(src="../assets/img/Logo.svg" alt="Logo Aerocivil")
         
             div.image
                 img(src="../assets/img/img.svg" alt="Logo SGDA")
      

          article.form
            form.form-user
               h2 Hola, ¡Bienvenido de vuelta!
               div
                 h1 Iniciar Sesión
                 h3 Ingrese sus datos para empezar a usar la app

               input(type="text" , placeholder="Usuario" , name="userName" , autocomplete = "username")
               input(type="password" placeholder="Contraseña" name="password" autocomplete="current-password")
               button(type="submit") Acceder 
         
            div.copyright
              p V1.0 Beta
              a(href="mailto:solutioncodeco@gmail.com") @Solution Code 2024

    
    
    section(id="pop-up" class="pop-up hidden")
       div.pop-upContiner
        h3 Bienvenido!! 
        p ¡¡Estamos felices de tenerte de vuelta, recuerda reportar cualquier anomalía en nuestro aplicativo!!
        button(type="button" class="login") OK
    
    div(class="contenedor-toast" id="contenedor-toast")
        
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(type= "module"   src='../js/login.js' )