link(rel="stylesheet", href="../css/graficas.css")

section.graficas
  
    div(class="total-solicitudes box")
      div.leyenda
        div.img-grafica
            img(src="../assets/img/chart-simple-solid.svg" alt="icon-grafic")
        div.muestras
          div.icono
          p(class="abiertas p-abiertas")
        div.muestras 
          div.icono2
          p(class="abiertas p-cerradas")
      div#container2

    div(class="total-solicitudes box")
      div#container3
      div.leyenda
        div.muestras
          div.icono
          p.abiertas Contratos
        div.muestras
          div.icono2
          p.abiertas H.C
        div.muestras
          div.icono3
          p.abiertas H.L
        div.muestras
          div.icono4
          p.abiertas Aerodromos
        div.muestras
          div.icono5
          p.abierta Resoluciones
    
    div(class="total-solicitudes box")
      div#container
      div.leyenda
        div.spans
          span Total
          span.total 
        div.spans
          span Efectividad
          span.efecty 41.77%