link(rel="stylesheet", href="../css/graficas.css")

section.graficas
  
    div(class="total-solicitudes box")
      div.leyenda
        div.img-grafica
            img(src="../assets/img/chart-simple-solid.svg" alt="icon-grafic")
        div.muestras
          div.icono
          p(class="abiertas p-sinOrganizar")
        div.muestras 
          div.icono2
          p(class="abiertas p-organizados")
      div#container2
    
    div(class="total-solicitudes box")
      div#container
      div.leyenda
        div.spans
          span Total
          span.total
        div.spans
          span Organización
          span(class="efecty" id="efecty-span") 