link(rel="stylesheet", href="../css/header-top.css")


div(class="btn-menu hidden-btn") 
  <i class="fa-solid fa-bars icon-menu"></i>

article.top-information

  h2 Dashboard
  div(class="date-container hidden-responsive")
    span#date 
    
  div.profile-container
    img(src="../assets/img/Logo-azul.svg", alt="Logo Aerocivil")
    span(class="hidden-responsive rol-header")
