link(rel="stylesheet", href="../css/header.css")
header 
  div 
    h2 Aeronaútica civil 
    nav
      ul 
        li.active
          i(class="fa-solid fa-house") 
          a(href="/user/index").hidden-responsive Home

        li
          i(class="fa-solid fa-eye") 
          a(href="/user/expedientes").hidden-responsive Expedientes

        li.logout 
          i(class="fa-solid fa-right-from-bracket logout") 
          a(href="").hidden-responsive Cerrar Sesión
  
  img(src="../assets/img/potenciaVida.svg", alt="Logo colombia potencia de vida").hidden-responsive