link(rel="stylesheet", href="../css/modal.css")

section(id="pop-up" class="pop-up hidden")
   div.pop-upContiner
     h3 Upps! No estas autorizado para esta acción.
     p ¡¡Primero debes registrarte e ingresar con las respectivas credenciales!!
     button(type="button" class="login") OK