link(rel="stylesheet", href="../css/notification.css")


section(class="notification hidden-notification")
   div.header
      button.closed-notifications ⬅️
      h3 Nuevas solicitudes
   template.notificationTemplate
    div.dates
      p.solicitante Solicitante:
      p.expediente Expediente:
      p.fecha F/Solicitud:
      div.options
        button.closed X

script(src="../js/notification.js", type="module")