link(rel="stylesheet", href="../css/popUp-search.css")

section(id="pop-upSearch" class="pop-upSearch hidden-popup")
   div.search-continer
     h2 Ingresa el numero de expediente para realizar la busqueda
     p Si no tienes el numero de expediente en la opción base de datos encontraras una busqueda mas avanzada
     input(type="search" placeholder='N° Expediente')

     div.buttons 
       button(type="button" class="cancel") Cancelar
       button(type="button" class="search") Buscar