link(rel="stylesheet", href="../css/usuariosAdmin.css")

div(class="users hidden-users" id="usersAdmin")
  div.container-table
    button.closeUsers  X
    table
      thead 
        th #
        th Nombre
        th Correo 
        th Rol 
        th Acciones
      tbody.contentUsers
      